.table_detail {
    text-transform:  capitalize;
}

.item_list {
    display: block;
}

.item {
    display: block;
    color:#8b008b;
    text-decoration: none;
    border: 1px solid #8b008b;
    padding: 5px 10px;
    margin: 15px 0 0 0;
    display: block;
    background-color: #f4f6f7;
    font-size: 18px;
    overflow: hidden;
    position: relative;
}

.table_ui {
    color:#fff;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #8b008b;
    padding: 6px 20px;
    display: block;
    background-color: #8b008b;
    font-size: 20px;
}

.table_icon {
    float: right;
}
.table_capa {
    background-color: #fff;
    color: #8b008b;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    margin-left: 10px;
    font-size: 15px;
}

.table_search {
    display: inline-block;
    padding: 5px 10px;
    background: #fff;
    color: #8b008b;
    margin-right: 20px;
    border-radius: 100px;
    font-size: 15px;
    cursor: pointer;
}

.status_light {
    padding: 0px 10px;
    position: absolute;
    top: 50%;
    right: 0px;
    overflow: hidden;
    cursor: pointer;
    font-size: 35px;
    transform: translate(0, -50%);
    text-align: center;
    width: 80px;
}

.tag {
    font-size: 8px;
    display: block;
    text-transform: uppercase;
}

.kitchen {
    color: #6c6a58;
}

.out_kitchen {
    color: #fd7e14;
}

.in_table {
    color: #8bc34a;
}

.in_bill {
    color: #2196f3;
}

.drinks_name {
    width: 80%;
    overflow: hidden;
    float: left;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.item_qua {
    display: block;
    text-align: center;
    font-size: 20px;
    margin-top: 5px;
}
.table_detail {
    display: block;
    overflow: hidden;
    text-transform: un
}

.quantity_input {
    border: 1px solid #409689;
    margin: 0px 0;
    width: 60px;
    text-align: center;
    background: #409689;
    color: #ffffff;
    font-weight: bold;
    border-radius: 1px;
    user-select: none;
}

.action_bar {
    display: block;
    background: #e9d4e8;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}

.add_item {
    display: block;
    font-size: 8em;
    text-align: center;
    color: #8d2f8b;
    cursor: pointer;

}

.add_item_btn {
    font-size: 0.3em;
}

.refresh_btn {
    color: #000000;
    border: 1px solid #CDDC39;
    padding: 5px 10px;
    margin: 0 10px;
    cursor: pointer;
    background: #CDDC39;
}

.refresh_btn i {
    padding: 0 10px;
}

.close_order_btn {
    color: #fff;
    border: 1px solid #E91E63;
    background: #E91E63;
    padding: 5px 10px;
    margin: 0 10px;
    cursor: pointer;
}

.close_order_btn i {
    padding: 0 10px;
}

.quantity_input:focus {
    outline: none;
}

.inc_qua {
    margin: 0 10px;
    color: #009688;
    cursor: pointer;
}

.price_block {
    color: #ffffff;
    background: #ea3c64;
    padding: 3px 20px;
    width: auto;
    display: inline-block;
    margin-top: 5px;
}

.per_price_block {
    color: #ffffff;
    background: #8d2f8b;
    padding: 3px 20px;
    width: auto;
    display: inline-block;
    margin-top: 5px;
    margin-right: 10px;
}

.dec_qua {
    margin: 0 10px;
    color: #009688;
    cursor: pointer;
}